.select {
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    width: 100%;
    text-align: left;
    color: inherit;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
  }
  // .select__value
  &__value {
    display: flex;
    align-items: center;
    height: rem(30);
    padding: 0 rem(15);
    gap: rem(10);
    > * {
      flex: 1 1 auto;
    }
    &:after {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      flex: 0 0 10px;
      transition: all 0.3s ease 0s;
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  // .select__options
  &__options {
    position: absolute;
    top: 29px;
    left: 0;
    min-width: 100%;
    padding: 10px 0px 5px 0px;
    color: #000000;
    background-color: #ffffff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // maximum height
    max-height: 200px;
    // scrollbar styles
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    padding: 5px 15px;
    text-align: left;
    color: inherit;
    cursor: pointer;
    &._select-selected {
      background-color: #eeeeee;
    }
    @media (any-hover: hover) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }

  // additional data construction
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // select state
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// tag
._select-tag {
  cursor: pointer;
}
