@font-face {
  font-family: AkzidenzGroteskPro;
  font-display: swap;
  src:
    url('../fonts/AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AkzidenzGroteskPro;
  font-display: swap;
  src:
    url('../fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
    url('../fonts/AkzidenzGroteskPro-MdEx.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Autography;
  font-display: swap;
  src:
    url('../fonts/Autography.woff2') format('woff2'),
    url('../fonts/Autography.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src:
    url('../fonts/DrukCyr-Bold.woff2') format('woff2'),
    url('../fonts/DrukCyr-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src:
    url('../fonts/DrukCyr-Medium.woff2') format('woff2'),
    url('../fonts/DrukCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A Bold';
  font-display: swap;
  src:
    url('../fonts/Euclid Circular A Bold.woff2') format('woff2'),
    url('../fonts/Euclid Circular A Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular A Medium';
  font-display: swap;
  src:
    url('../fonts/Euclid Circular A Medium.woff2') format('woff2'),
    url('../fonts/Euclid Circular A Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
