.mainpage {
  // .mainpage__hero

  &__hero {
    margin-bottom: 0;
  }
  // .mainpage__popular

  &__popular {
  }
}

// =============================================================================
.hero-mainpage {
  position: relative;
  background-color: $black;
  overflow: hidden;

  // .hero-mainpage__container

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(105.5rem - 18rem);
  }

  // .hero-mainpage__carousel

  &__carousel {
  }

  // .hero-mainpage__swiper

  &__swiper {
    position: relative;
    z-index: 2;
    padding-top: 13.2rem;
    padding-bottom: 9rem;
    grid-column: 2/3;
    min-width: 0;
  }

  // .hero-mainpage__slider

  &__slider {
    margin-bottom: 7.3rem;
  }

  // .hero-mainpage__wrapper

  &__wrapper {
  }

  // .hero-mainpage__slide

  &__slide {
  }

  // .hero-mainpage__fraction

  &__fraction {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'DrukCyr';
    font-weight: 700;
    font-size: 60rem;
    line-height: 76.1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    transform: translateY(45%);
  }

  // .hero-mainpage__control

  &__control {
    display: flex;
    column-gap: 1rem;
  }

  // .hero-mainpage__nav-btn

  &__nav-btn {
  }

  // .hero-mainpage__socials

  &__socials {
  }
}

.slide-hero-mainpage {
  opacity: 0 !important;
  visibility: hidden !important;
  &.swiper-slide-active {
    opacity: 1 !important;
    visibility: visible !important;
  }

  // .slide-hero-mainpage__title title

  &__title {
    margin-bottom: 4.9rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 2.4px;
  }

  // .slide-hero-mainpage__text-wrap

  &__text-wrap {
    display: flex;
    align-items: center;
    column-gap: 6.7rem;
  }
  // .slide-hero-mainpage__text

  &__text {
    max-width: 33.7rem;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.carousel-hero-mainpage {
  position: absolute;
  bottom: 0;
  width: 140rem;
  transform: translate(-60%, 50%);

  // .carousel-hero-mainpage__items

  &__items {
    position: relative;
    z-index: 2;
  }

  // .carousel-hero-mainpage__item

  &__item {
    position: relative;
    &._next,
    &._prev {
      z-index: 5;
    }
    &._prev img {
      rotate: -18deg;
    }
    &._prev .carousel-hero-mainpage__group {
      left: -50vw;
      top: -100vh;
    }
    &._next img {
      rotate: 45deg;
    }
    &._next .carousel-hero-mainpage__group {
      left: 50vw;
      top: 100vh;
    }
  }

  // .carousel-hero-mainpage__image

  &__image {
    &_scaled {
      img {
        transform: scale(0.6);
      }
    }
    img {
      max-width: 100%;
      object-fit: contain;
      transition: all 0.8s linear;
    }
  }

  // .carousel-hero-mainpage__group

  &__group,
  &__group span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition:
      top,
      left 0.8s ease;
    &::before,
    &::after,
    span::before,
    span::after {
      position: absolute;
      z-index: 3;
    }
    &::before {
      content: url(@img/hero/ellipses/03.png);
      top: -47%;
      left: 68%;
      transform: scale(0.9);
    }
    &::after {
      content: url(@img/hero/ellipses/04.png);
      top: 11%;
      left: 11%;
      transform: scale(1.4);
    }
    span {
      &::before {
        content: url(@img/hero/ellipses/01.png);
        top: 123%;
        left: -9%;
        transform: scale(0.6);
      }
      &::after {
        content: url(@img/hero/ellipses/02.png);
        top: 101%;
        left: 77%;
        transform: scale(1.2);
      }
    }
  }

  // .carousel-hero-mainpage__wheel

  &__wheel {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    .st0 {
      fill: none;
      stroke: #2e2131;
      stroke-miterlimit: 1;
    }
    &_outer {
      width: 140rem;
      height: 140rem;
      .st0 {
        stroke-width: 80;
      }
    }
    &_inner {
      width: 90rem;
      height: 90rem;
      .st0 {
        stroke-width: 200;
      }
    }
  }
}

.socials-hero-mainpage {
  padding-bottom: 7rem;

  // .socials-hero-mainpage__list

  &__list,
  &__link {
    display: flex;
    align-items: center;
  }

  &__list {
    justify-content: flex-end;
    flex-direction: column;
    row-gap: 5.3rem;
    height: 100%;
  }

  // .socials-hero-mainpage__item

  &__item {
  }

  // .socials-hero-mainpage__link

  &__link {
    column-gap: 0.8rem;
    font-family: AkzidenzGroteskPro;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    transform: rotate(360deg);
    &::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      background-size: 2.4rem 2.4rem;
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
    &_ok {
      &::before {
        background-image: url(@img/icons/socials/ok.svg);
      }
    }
    &_vk {
      &::before {
        background-image: url(@img/icons/socials/vk.svg);
      }
    }
  }
}

// =============================================================================
.popular-mainpage {
  position: relative;
  background-color: #ffffff;

  // .popular-mainpage__container

  &__container {
    padding-top: 20rem;
    padding-bottom: 15rem;
    overflow: hidden;
  }

  // .popular-mainpage__head

  &__head {
    margin-bottom: 5.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
  }

  // .popular-mainpage__title

  &__title {
  }

  // .popular-mainpage__button

  &__button {
  }

  // .popular-mainpage__slider

  &__slider {
    &.swiper {
      overflow: visible;
    }
  }

  // .popular-mainpage__wrapper

  &__wrapper {
  }

  // .popular-mainpage__slide

  &__slide {
  }

  // .popular-mainpage__control

  &__control,
  .control-popular-mainpage__navigation {
    display: flex;
    flex-direction: column;
  }
}

.slide-popular-mainpage {
  position: relative;
  min-height: 50.4rem;
  @media (any-hover: hover) {
    &:hover {
      .slide-popular-mainpage__wrapper {
        height: calc(100% + 23rem);
      }
      .slide-popular-mainpage__info-wrap {
        grid-template-rows: 1fr;
      }
      .slide-popular-mainpage__info {
        padding-top: 3.7rem;
      }
      .slide-popular-mainpage__wrapper,
      .slide-popular-mainpage__content {
        border-bottom-right-radius: 178px;
      }
      .slide-popular-mainpage__content {
        min-height: 39.5rem;
      }
      .slide-popular-mainpage__link-btn {
        background-color: $purple;
        border: 6px solid #ffffff;
        path {
          stroke: #ffffff;
        }
      }
    }
  }
  .tabs {
    // .tabs__navigation

    &__navigation {
      display: flex;
      column-gap: 5rem;
    }

    // .tabs__title

    &__title {
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      color: #a2a2a2;
      transition: color 0.3s ease;
      &._tab-active {
        color: #ffffff;
      }
    }

    // .tabs__content

    &__content {
    }

    // .tabs__body

    &__body {
      padding-top: 2.4rem;
      max-width: 34rem;
    }
  }

  // .slide-popular-mainpage__wrapper

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $black;
    border-radius: 40px;
    transition: all 0.3s ease;
  }

  // .slide-popular-mainpage__content

  &__content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 16.4rem;
    padding: 3rem;
    border-radius: 40px;
    background: rgba(53, 49, 54, 0.1);
    backdrop-filter: blur(25px);
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 116px;
      height: 72px;
      background-image: url(@img/stickers/new.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-7deg) translateY(-50%);
    }
  }

  // .slide-popular-mainpage__heading

  &__heading {
    margin-top: auto;
    max-width: 29rem;
  }

  // .slide-popular-mainpage__heading-link

  &__heading-link {
    font-family: DrukCyr;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }

  // .slide-popular-mainpage__info-wrap

  &__info-wrap {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
  }

  // .slide-popular-mainpage__info

  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: padding-top 0.3s ease;
  }

  // .slide-popular-mainpage__tabs

  &__tabs {
    margin-bottom: 4.6rem;
  }

  // .slide-popular-mainpage__mass

  &__mass {
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    span {
      color: $orange;
    }
  }

  // .slide-popular-mainpage__link-btn

  &__link-btn {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    border: 6px solid transparent;
  }

  // .slide-popular-mainpage__image-wrap

  &__image-ibg {
    height: 100%;
    transform: translateY(-16%);
    img {
      object-fit: contain;
      transform: rotate(2deg);
    }
  }

  // .slide-popular-mainpage__price

  &__price {
    position: absolute;
    z-index: 2;
    top: 4.6rem;
    right: 3rem;
    display: flex;
    font-family: AkzidenzGroteskPro;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 125%;
    color: $orange;
    text-transform: uppercase;
    span {
      align-self: flex-start;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
    }
  }
}

.control-popular-mainpage {
  align-items: center;
  justify-content: center;
  row-gap: 4.8rem;

  // .control-popular-mainpage__fraction

  &__fraction {
    font-family: 'DrukCyr';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $black;
  }

  // .control-popular-mainpage__navigation

  &__navigation {
    row-gap: 1rem;
  }

  // .control-popular-mainpage__nav-btn

  &__nav-btn {
    border: 1.5px solid rgba(30, 17, 33, 0.1);
  }
}
