.mainpage {
  section {
    position: relative;
    margin-bottom: 15rem;
  }

  // .mainpage__hero

  &__hero {
    margin-bottom: 0;
  }
  // .mainpage__popular

  &__popular {
  }

  // .mainpage__offers

  &__offers {
    margin-bottom: 17.6rem;
  }

  // .mainpage__menu

  &__menu {
  }

  // .mainpage__news

  &__news {
  }

  // .mainpage__reviews

  &__reviews {
  }

  // .mainpage__map

  &__map {
    margin-bottom: 15rem;
  }
}

// =============================================================================
.hero-mainpage {
  padding-top: 18rem;
  overflow: hidden;
  transition: padding-top 0.3s ease;
  ._header-scroll & {
    padding-top: 10rem;
  }

  // .hero-mainpage__container

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(105.5rem - 18rem);
  }

  // .hero-mainpage__carousel

  &__carousel {
  }

  // .hero-mainpage__swiper

  &__swiper {
    position: relative;
    z-index: 2;
    padding-top: 13.2rem;
    padding-bottom: 9rem;
    grid-column: 2/3;
    min-width: 0;
  }

  // .hero-mainpage__slider

  &__slider {
    margin-bottom: 7.3rem;
  }

  // .hero-mainpage__wrapper

  &__wrapper {
  }

  // .hero-mainpage__slide

  &__slide {
  }

  // .hero-mainpage__fraction

  &__fraction {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'DrukCyr';
    font-weight: 700;
    font-size: 60rem;
    line-height: 76.1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    transform: translateY(45%);
  }

  // .hero-mainpage__control

  &__control {
    display: flex;
    column-gap: 1rem;
  }

  // .hero-mainpage__nav-btn

  &__nav-btn {
  }

  // .hero-mainpage__socials

  &__socials {
    .socials {
      padding-bottom: 7rem;
    }
    .socials__list {
      justify-content: flex-end;
    }
  }
}

.slide-hero-mainpage {
  opacity: 0 !important;
  visibility: hidden !important;
  &.swiper-slide-active {
    opacity: 1 !important;
    visibility: visible !important;
  }

  // .slide-hero-mainpage__title title

  &__title {
    margin-bottom: 4.9rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 2.4px;
  }

  // .slide-hero-mainpage__text-wrap

  &__text-wrap {
    display: flex;
    align-items: center;
    column-gap: 6.7rem;
  }
  // .slide-hero-mainpage__text

  &__text {
    max-width: 33.7rem;
  }
}

.carousel-hero-mainpage {
  position: absolute;
  bottom: 0;
  width: 140rem;
  transform: translate(-60%, 50%);

  // .carousel-hero-mainpage__items

  &__items {
    position: relative;
    z-index: 2;
  }

  // .carousel-hero-mainpage__item

  &__item {
    position: relative;
    &._next,
    &._prev {
      z-index: 5;
    }
    &._prev img {
      rotate: -18deg;
    }
    &._prev .carousel-hero-mainpage__group {
      left: -50vw;
      top: -100vh;
    }
    &._next img {
      rotate: 45deg;
    }
    &._next .carousel-hero-mainpage__group {
      left: 50vw;
      top: 100vh;
    }
  }

  // .carousel-hero-mainpage__image

  &__image {
    &_scaled {
      img {
        transform: scale(0.6);
      }
    }
    img {
      max-width: 100%;
      object-fit: contain;
      transition: all 0.8s linear;
    }
  }

  // .carousel-hero-mainpage__group

  &__group,
  &__group span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition:
      top,
      left 0.8s ease;
    &::before,
    &::after,
    span::before,
    span::after {
      position: absolute;
      z-index: 3;
    }
    &::before {
      content: url(@img/ellipses/03.png);
      top: -47%;
      left: 68%;
      transform: scale(0.9);
    }
    &::after {
      content: url(@img/ellipses/04.png);
      top: 11%;
      left: 11%;
      transform: scale(1.4);
    }
    span {
      &::before {
        content: url(@img/ellipses/01.png);
        top: 123%;
        left: -9%;
        transform: scale(0.6);
      }
      &::after {
        content: url(@img/ellipses/02.png);
        top: 101%;
        left: 77%;
        transform: scale(1.2);
      }
    }
  }

  // .carousel-hero-mainpage__wheel

  &__wheel {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    .st0 {
      fill: none;
      stroke: #2e2131;
      stroke-miterlimit: 1;
    }
    &_outer {
      width: 140rem;
      height: 140rem;
      .st0 {
        stroke-width: 80;
      }
    }
    &_inner {
      width: 90rem;
      height: 90rem;
      .st0 {
        stroke-width: 200;
      }
    }
  }
}

// =============================================================================
.popular-mainpage {
  background-color: $purpleLight;

  // .popular-mainpage__container

  &__container {
    padding-top: 20rem;
    overflow: hidden;
  }

  // .popular-mainpage__head

  &__head {
    margin-bottom: 5.7rem;
  }

  // .popular-mainpage__title

  &__title {
  }

  // .popular-mainpage__button

  &__button {
  }

  // .popular-mainpage__slider

  &__slider {
    &.swiper {
      overflow: visible;
    }
  }

  // .popular-mainpage__wrapper

  &__wrapper {
  }

  // .popular-mainpage__slide

  &__slide {
  }

  // .popular-mainpage__control

  &__control {
  }
}

.slide-popular-mainpage {
  position: relative;
  min-height: 50.4rem;
  color: #ffffff;
  @media (any-hover: hover) {
    &:hover {
      .slide-popular-mainpage__wrapper {
        height: calc(100% + 23rem);
      }
      .slide-popular-mainpage__info-wrap {
        grid-template-rows: 1fr;
      }
      .slide-popular-mainpage__info {
        padding-top: 3.7rem;
      }
      .slide-popular-mainpage__wrapper,
      .slide-popular-mainpage__content {
        border-bottom-right-radius: 178px;
      }
      .slide-popular-mainpage__content {
        min-height: 39.5rem;
      }
      .slide-popular-mainpage__link-btn {
        background-color: $purple;
        border: 6px solid #ffffff;
        path {
          stroke: #ffffff;
        }
      }
    }
  }
  .tabs {
    // .tabs__navigation

    &__navigation {
      display: flex;
      column-gap: 5rem;
    }

    // .tabs__title

    &__title {
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      color: #707070;
      transition: color 0.3s ease;
      &._tab-active {
        color: #ffffff;
      }
    }

    // .tabs__content

    &__content {
    }

    // .tabs__body

    &__body {
      padding-top: 2.4rem;
      max-width: 34rem;
    }
  }

  // .slide-popular-mainpage__wrapper

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $black;
    border-radius: 40px;
    transition: all 0.3s ease;
  }

  // .slide-popular-mainpage__content

  &__content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 16.4rem;
    padding: 3rem;
    border-radius: 40px;
    background: rgba(53, 49, 54, 0.1);
    backdrop-filter: blur(25px);
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 11.6rem;
      height: 7.2rem;
      background-image: url(@img/stickers/new.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-7deg) translateY(-50%);
    }
  }

  // .slide-popular-mainpage__heading

  &__heading {
    margin-top: auto;
    max-width: 29rem;
  }

  // .slide-popular-mainpage__heading-link

  &__heading-link {
    font-family: DrukCyr;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }

  // .slide-popular-mainpage__info-wrap

  &__info-wrap {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
  }

  // .slide-popular-mainpage__info

  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: padding-top 0.3s ease;
  }

  // .slide-popular-mainpage__tabs

  &__tabs {
    margin-bottom: 4.6rem;
  }

  // .slide-popular-mainpage__mass

  &__mass {
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    span {
      color: $orange;
    }
  }

  // .slide-popular-mainpage__link-btn

  &__link-btn {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    border: 6px solid transparent;
  }

  // .slide-popular-mainpage__image-wrap

  &__image-ibg {
    height: 100%;
    transform: translateY(-16%);
    img {
      object-fit: contain;
      transform: rotate(2deg);
    }
  }

  // .slide-popular-mainpage__price

  &__price {
    position: absolute;
    z-index: 2;
    top: 4.6rem;
    right: 3rem;
    display: flex;
    font-family: AkzidenzGroteskPro;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 125%;
    color: $orange;
    text-transform: uppercase;
    span {
      align-self: flex-start;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
    }
  }
}

// =============================================================================
.offers-mainpage {
  padding-top: 15rem;
  padding-bottom: 15rem;

  // .offers-mainpage__container

  &__container {
  }

  // .offers-mainpage__head

  &__head {
    margin-bottom: 8.5rem;
  }

  // .offers-mainpage__title

  &__title {
  }

  // .offers-mainpage__link

  &__link {
  }

  // .offers-mainpage__slider

  &__slider {
  }

  // .offers-mainpage__wrapper

  &__wrapper {
  }

  // .offers-mainpage__slide

  &__slide {
    &_orange {
      .slide-offers-mainpage__body {
        background-color: $orange;
      }
    }

    &_purple {
      .slide-offers-mainpage__body {
        background-color: $purple;
      }
    }
  }
}

.slide-offers-mainpage {
  position: relative;
  min-height: 55.4rem;
  filter: url('#flt_tag');

  // .slide-offers-mainpage__body

  &__body {
    position: relative;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
  }

  // .slide-offers-mainpage__content

  &__content {
    padding: 3rem 0 5.2rem 5.2rem;
    display: flex;
    flex-direction: column;
  }

  // .slide-offers-mainpage__label

  &__label {
    margin-bottom: 0.8rem;
    width: 12.9rem;
    transform: rotate(-7deg) translateX(-18%);
  }

  // .slide-offers-mainpage__title

  &__title {
    margin-bottom: 2.4rem;
    max-width: 49rem;
    font-family: 'DrukCyr';
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  // .slide-offers-mainpage__text

  &__text {
    margin-bottom: 3.6rem;
    max-width: 29.5rem;
  }

  // .slide-offers-mainpage__link-btn

  &__link-btn {
  }

  // .slide-offers-mainpage__images

  &__images {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 41.6rem;
    height: 41.6rem;
    border-radius: 100%;
    background-color: #ffffff;
    transform: translate(7%, 25%);
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 54.5rem;
      height: 54.5rem;
      border: 20px solid rgba(255, 255, 255, 0.15);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .slide-offers-mainpage__price

  &__price {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      width: 15.8rem;
      height: 15.8rem;
    }
  }

  // .slide-offers-mainpage__price-txt

  &__price-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    column-gap: 0.5rem;
    font-family: AkzidenzGroteskPro;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    span {
      align-self: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
    }
  }

  // .slide-offers-mainpage__image

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    &_l {
      width: 51.8rem;
      min-width: 250px;
      transform: translate(-74%, -59%);
    }
    &_r {
      width: 34.6rem;
      min-width: 200px;
      transform: translate(-47%, -61%);
    }
  }
}

// =============================================================================
.menu-mainpage {
  padding-top: 15.7rem;
  padding-bottom: 15rem;

  // .menu-mainpage__container

  &__container {
  }

  // .menu-mainpage__head

  &__head {
    margin-bottom: 20.4rem;
  }

  // .menu-mainpage__title

  &__title {
  }

  // .menu-mainpage__link

  &__link {
  }

  // .menu-mainpage__row

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
    row-gap: 13.4rem;
  }

  // .menu-mainpage__item

  &__item {
  }
}

.item-menu-mainpage {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-width: 27.7rem;
  background-color: #2e2131;
  border-radius: 6rem;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 23rem;
    height: 23rem;
    background-image: url(@img/menu/bg-ellipse.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -37%);
  }

  // .item-menu-mainpage__image

  &__image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -57%);
    img {
      width: 23.1rem;
      object-fit: contain;
    }
    &_rotated {
      transform: translate(-50%, -57%) rotate(45deg) scale(1.3);
    }
  }

  // .item-menu-mainpage__content

  &__content {
    padding-top: 3.2rem;
    padding-bottom: 3.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    grid-row: 2/3;
  }

  // .item-menu-mainpage__heading

  &__heading {
    font-family: 'DrukCyr';
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  // .item-menu-mainpage__btn

  &__btn {
    width: 7rem;
    height: 7rem;
    svg {
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}

// =============================================================================
.news-mainpage {
  // .news-mainpage__container

  &__container {
  }

  // .news-mainpage__head

  &__head {
    margin-bottom: 9.2rem;
  }

  // .news-mainpage__slide

  &__slide {
  }
}

.slide-news-mainpage {
  position: relative;
  display: grid;
  grid-template-rows: 47.5rem auto;
  font-family: DrukCyr;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4rem;
  background-color: $black;
  overflow: hidden;

  // .slide-news-mainpage__content

  &__content {
    position: relative;
    z-index: 2;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-between;
    column-gap: 1.1rem;
    min-height: 17.5rem;
    background-color: $purple;
    border-radius: 4rem;
  }

  // .slide-news-mainpage__text

  &__text {
    display: flex;
    flex-direction: column;
  }

  // .slide-news-mainpage__date

  &__date {
    margin-bottom: 2rem;
    padding: 1rem 1.2rem;
    align-self: flex-start;
    font-size: 2rem;
    letter-spacing: 0.18rem;
    background-color: $orange;
    border-radius: 2rem;
  }

  // .slide-news-mainpage__heading

  &__heading {
    max-width: 32.8rem;
    font-size: 3.2rem;
    line-height: 130%;
    letter-spacing: 0.096rem;
    color: #ffffff;
  }

  // .slide-news-mainpage__link-btn

  &__link-btn {
    align-self: flex-end;
    flex: 0 0 10.4rem;
    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  // .slide-news-mainpage__wrapper

  &__wrapper {
    position: relative;

    img,
    .slide-news-mainpage__image::before,
    .slide-news-mainpage__image::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .slide-news-mainpage__image::before,
    .slide-news-mainpage__image::after,
    &::before {
      content: '';
      border: 2rem solid rgba(189, 180, 191, 0.1);
      border-radius: 50%;
    }
    .slide-news-mainpage__image::before {
      width: 49.1rem;
      height: 49.1rem;
    }
    .slide-news-mainpage__image::after {
      width: 59.2rem;
      height: 59.2rem;
    }
    &::before {
      width: 69.2rem;
      height: 69.2rem;
    }
  }

  // .slide-news-mainpage__image

  &__image {
    img {
      width: 40.2rem;
      height: 40.2rem;
      clip-path: circle(50% at 50% 50%);
    }
  }

  // .slide-news-mainpage__label

  &__label {
    padding: 1rem 1.4rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    letter-spacing: 0.18rem;
    color: #ffffff;
    background-color: $purple;
    border-radius: 2rem;
  }
}

// =============================================================================
.privileges-mainpage {
  padding-top: 19rem;
  padding-bottom: 15rem;

  // .privileges-mainpage__container

  &__container {
  }

  // .privileges-mainpage__title

  &__title {
    margin-bottom: 10.5rem;
  }

  // .privileges-mainpage__row

  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(50.3rem, 1fr));
    gap: 6rem;
  }

  // .privileges-mainpage__item

  &__item {
    &_marked {
      .item-privileges-mainpage__wrap::before {
        content: '';
        position: absolute;
        z-index: 3;
        width: 7.8rem;
        height: 7.8rem;
        top: 0;
        left: 0;
        background-image: url(@img/icons/star.svg);
        background-size: 7.8rem;
        transform: translate(41%, -55%) rotate(-15deg);
      }
    }
  }
}

.item-privileges-mainpage {
  position: relative;
  min-height: 55rem;
  @media (any-hover: hover) {
    &:hover {
      .item-privileges-mainpage__info-wrap {
        grid-template-rows: 1fr;
      }
      .item-privileges-mainpage__content::after {
        height: calc(100% + 20px);
      }
      .item-privileges-mainpage__heading {
        margin-bottom: 4rem;
      }
      .item-privileges-mainpage__link-btn {
        opacity: 0;
      }
      .item-privileges-mainpage__image-wrap_fw
        .item-privileges-mainpage__image {
        transform: translate(-4%, -1%) rotate(180deg);
      }
      .item-privileges-mainpage__loupe {
        transform: translate(0%, 17%);
      }
      .item-privileges-mainpage__image-wrap {
        overflow: visible;
      }
    }
  }

  // .item-privileges-mainpage__wrap

  &__wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // .item-privileges-mainpage__image-wrap

  &__image-wrap {
    position: relative;
    height: 40.3rem;
    border-radius: 40px 500px 40px 40px;
    &_fw {
      overflow: hidden;
      .item-privileges-mainpage__image-content {
        overflow: hidden;
      }
      .item-privileges-mainpage__image {
        object-fit: cover;
        transform: translate(-6%, 2%) rotate(180deg);
        transition: transform 0.3s ease;
      }
    }
  }

  // .item-privileges-mainpage__image-content

  &__image-content {
    position: relative;
    height: 40.3rem;
    border-radius: 40px 500px 40px 40px;
    transition: margin-bottom 0.3s ease;
    background: url(@img/privileges/bg.svg) no-repeat center;
    background-size: cover;
  }

  // .item-privileges-mainpage__image

  &__image {
    position: absolute;
    z-index: 2;
    bottom: 0;
    &_rotate {
      transform: rotate(10deg);
    }
  }

  // .item-privileges-mainpage__loupe

  &__loupe {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 37.9rem;
    transform: translate(-3%, 25%);
    transition: transform 0.3s ease;
  }

  // .item-privileges-mainpage__content

  &__content {
    position: relative;
    padding: 4rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #2e2131;
      border-radius: 0 0 40px 40px;
      transform: translateY(-20px);
      transition: height 0.3s ease;
    }
  }

  // .item-privileges-mainpage__heading

  &__heading {
    position: relative;
    z-index: 2;
    max-width: 33.6rem;
    min-height: 13rem;
    font-family: 'DrukCyr';
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: margin-bottom 0.3s ease;
  }

  // .item-privileges-mainpage__link-btn

  &__link-btn {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
  }

  // .item-privileges-mainpage__info-wrap

  &__info-wrap {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-in-out;
  }

  // .item-privileges-mainpage__info

  &__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: padding-top 0.3s ease;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__list-item {
    display: flex;
    column-gap: 1.2rem;
    &::before {
      content: '';
      flex: 0 0 0.8rem;
      width: 0.8rem;
      height: 0.8rem;
      line-height: 140%;
      border-radius: 50%;
      background-color: $orange;
      transform: translateY(120%);
    }
  }

  &__list-txt {
    font-weight: 500;
    font-size: 2rem;
    line-height: 140%;
  }
}

// =============================================================================
.reviews-mainpage {
  padding-top: 15.8rem;
  padding-bottom: 16.2rem;
  font-family: DrukCyr;
  color: #ffffff;
  background-color: $black;

  // .reviews-mainpage__container

  &__container {
  }

  // .reviews-mainpage__head

  &__head {
    margin-bottom: 9.2rem;
  }

  // .reviews-mainpage__slider

  &__slider {
    margin-bottom: 8.5rem;
  }

  // .reviews-mainpage__wrapper

  &__wrapper {
    align-items: flex-start;
  }

  // .reviews-mainpage__slide

  &__slide {
    &_orange {
      .slide-reviews-mainpage__rate {
        background-color: $orange;
      }
      path {
        fill: $orange;
      }
    }
    &_purple {
      .slide-reviews-mainpage__rate {
        background-color: $purple;
      }
      path {
        fill: $purple;
      }
    }
    &_grey {
      .slide-reviews-mainpage__rate {
        background-color: $grey;
      }
      path {
        fill: $grey;
      }
    }
  }

  // .reviews-mainpage__links

  &__links {
  }
}

.slide-reviews-mainpage {
  position: relative;
  min-height: 53.2rem;
  border-radius: 4rem;
  overflow: hidden;
  color: $purpleLight;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(25px);
  }

  // .slide-reviews-mainpage__body

  &__body {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30.8rem;
      height: 30.8rem;
      background-size: contain;
      background-repeat: no-repeat;
      filter: blur(50px);
    }
    &::before {
      top: 0;
      right: 0;
      background-image: url(@img/ellipses/06.png);
    }
    &::after {
      bottom: 0;
      left: 0;
      background-image: url(@img/ellipses/07.png);
      transform: translateY(-16%);
    }
  }

  // .slide-reviews-mainpage__head

  &__head {
    position: relative;
    z-index: 2;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  }

  // .slide-reviews-mainpage__map

  &__map {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    &_google {
      &::before {
        background-image: url(@img/icons/google-maps.svg);
      }
    }
    &_yandex {
      &::before {
        background-image: url(@img/icons/yandex-maps.svg);
      }
    }
    &_gis {
      &::before {
        background-image: url(@img/icons/2gis-maps.svg);
      }
    }
    &::before {
      content: '';
      width: 3.6rem;
      height: 3.6rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // .slide-reviews-mainpage__rate

  &__rate {
    padding: 1.4rem 2.4rem;
    font-family: AkzidenzGroteskPro;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 7.1rem;
  }

  // .slide-reviews-mainpage__content

  &__content {
    position: relative;
    z-index: 2;
    padding: 3rem 4rem 0.5rem 4rem;
    display: flex;
    flex-direction: column;
  }

  // .slide-reviews-mainpage__row

  &__row {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
  }

  // .slide-reviews-mainpage__name

  &__name {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }

  // .slide-reviews-mainpage__date

  &__date {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
  }

  // .slide-reviews-mainpage__text

  &__text {
    font-family: 'Euclid Circular A Medium';
    font-size: 2rem;
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  // .slide-reviews-mainpage__address

  &__address {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 13rem;
    svg {
      width: 38.8rem;
      height: 15.1rem;
    }
  }

  // .slide-reviews-mainpage__address-link

  &__address-link {
    position: absolute;
    top: 50%;
    max-width: 12.3rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.18rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transform: translateY(-29%);
  }
}

.links-reviews-mainpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;

  // .links-reviews-mainpage__heading

  &__heading {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
  }

  // .links-reviews-mainpage__list

  &__list {
    display: flex;
    column-gap: 2rem;
  }

  // .links-reviews-mainpage__item

  &__item {
  }

  // .links-reviews-mainpage__link

  &__link {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.15);
  }

  // .links-reviews-mainpage__rate

  &__rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    flex: 0 0 5.5rem;
    color: #4b414d;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 50%;
  }

  // .links-reviews-mainpage__map

  &__map {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    &::before {
      content: '';
      width: 3rem;
      height: 3rem;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &_google {
      &::before {
        background-image: url(@img/icons/google-maps.svg);
      }
    }
    &_yandex {
      &::before {
        background-image: url(@img/icons/yandex-maps.svg);
      }
    }
    &_gis {
      &::before {
        background-image: url(@img/icons/2gis-maps.svg);
      }
    }
    &_tripadvisor {
      &::before {
        background-image: url(@img/icons/tripadvisor.svg);
      }
    }
  }
}

// =============================================================================
.map-mainpage {
  position: relative;

  // .map-mainpage__container

  &__container {
  }

  // .map-mainpage__wrapper

  &__wrapper {
    width: 100%;
    height: 80rem;
    background-color: $black;
    border-radius: 5rem;
    overflow: hidden;

    // .map-mainpage__filters

    &__filters {
    }
  }
}

.filters-map-mainpage {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  padding: 0 1.6rem 1.6rem 1.6rem;
  display: flex;
  column-gap: 1rem;
  border-radius: 0 0 5rem 5rem;
  background-color: $purpleLight;
  transform: translateX(-50%);

  // .filters-map-mainpage__button

  &__button {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    min-width: 10.4rem;
    border-radius: 4rem;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    &::after {
      content: '';
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
    }
    &:not(&_all) {
      padding: 0.5rem 2.3rem 0.5rem 0.5rem;
    }
    &_all {
      justify-content: center;
    }
    &_orange {
      &::after {
        background-color: $orange;
      }
    }
    &_purple {
      &::after {
        background-color: $purple;
      }
    }
    &_red {
      &::after {
        background-color: $red;
      }
    }
    &._active {
      background-color: $black;
      .filters-map-mainpage__text {
        color: #ffffff;
      }
    }
  }

  // .filters-map-mainpage__text

  &__text {
    font-family: DrukCyr;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  // .filters-map-mainpage__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    flex: 0 0 4.5rem;
    border-radius: 50%;
    background-color: $purpleLight;
    img {
      width: 2.6rem;
    }
  }
}
