.mainpage {
  // .mainpage__hero

  &__hero {
  }
  // .mainpage__popular

  &__popular {
  }
}

// =============================================================================
.hero-mainpage {
  position: relative;
  background-color: $black;
  overflow: hidden;

  // .hero-mainpage__container

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(105.5rem - 18rem);
  }

  // .hero-mainpage__carousel

  &__carousel {
  }

  // .hero-mainpage__swiper

  &__swiper {
    position: relative;
    z-index: 2;
    padding-top: 13.2rem;
    padding-bottom: 9rem;
    grid-column: 2/3;
    min-width: 0;
  }

  // .hero-mainpage__slider

  &__slider {
    margin-bottom: 7.3rem;
  }

  // .hero-mainpage__wrapper

  &__wrapper {
  }

  // .hero-mainpage__slide

  &__slide {
  }

  // .hero-mainpage__fraction

  &__fraction {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'DrukCyr';
    font-weight: 700;
    font-size: 60rem;
    line-height: 76.1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    transform: translateY(45%);
  }

  // .hero-mainpage__control

  &__control {
    display: flex;
    column-gap: 1rem;
  }

  // .hero-mainpage__arrow

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 90px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.slide-hero-mainpage {
  opacity: 0 !important;
  visibility: hidden !important;
  &.swiper-slide-active {
    opacity: 1 !important;
    visibility: visible !important;
  }

  // .slide-hero-mainpage__title title

  &__title {
    margin-bottom: 4.9rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 2.4px;
  }

  // .slide-hero-mainpage__text-wrap

  &__text-wrap {
    display: flex;
    align-items: center;
    column-gap: 6.7rem;
  }
  // .slide-hero-mainpage__text

  &__text {
    max-width: 33.7rem;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
  }
}

.carousel-hero-mainpage {
  position: absolute;
  bottom: 0;
  width: 140rem;
  transform: translate(-60%, 50%);

  // .carousel-hero-mainpage__items

  &__items {
    position: relative;
    z-index: 2;
  }

  // .carousel-hero-mainpage__item

  &__item {
    position: relative;
    &._next,
    &._prev {
      z-index: 5;
    }
    &._prev img {
      rotate: -18deg;
    }
    &._prev .carousel-hero-mainpage__group {
      left: -50vw;
      top: -100vh;
    }
    &._next img {
      rotate: 45deg;
    }
    &._next .carousel-hero-mainpage__group {
      left: 50vw;
      top: 100vh;
    }
  }

  // .carousel-hero-mainpage__image

  &__image {
    &_scaled {
      img {
        transform: scale(0.6);
      }
    }
    img {
      max-width: 100%;
      object-fit: contain;
      transition: all 0.8s linear;
    }
  }

  // .carousel-hero-mainpage__group

  &__group,
  &__group span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition:
      top,
      left 0.8s ease;
    &::before,
    &::after,
    span::before,
    span::after {
      position: absolute;
      z-index: 3;
    }
    &::before {
      content: url(@img/hero/ellipses/03.png);
      top: -47%;
      left: 68%;
      transform: scale(0.9);
    }
    &::after {
      content: url(@img/hero/ellipses/04.png);
      top: 11%;
      left: 11%;
      transform: scale(1.4);
    }
    span {
      &::before {
        content: url(@img/hero/ellipses/01.png);
        top: 123%;
        left: -9%;
        transform: scale(0.6);
      }
      &::after {
        content: url(@img/hero/ellipses/02.png);
        top: 101%;
        left: 77%;
        transform: scale(1.2);
      }
    }
  }

  // .carousel-hero-mainpage__wheel

  &__wheel {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    .st0 {
      fill: none;
      stroke: #2e2131;
      stroke-miterlimit: 1;
    }
    &_outer {
      width: 140rem;
      height: 140rem;
      .st0 {
        stroke-width: 80;
      }
    }
    &_inner {
      width: 90rem;
      height: 90rem;
      .st0 {
        stroke-width: 200;
      }
    }
  }
}
